<a href="https://colab.research.google.com/github/RohitVerma0021/ipl-win-probability-predictor-niddydata0021.streamlit.app-/blob/master/IPL_Win_Probability_Predictor_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
deli=pd.read_csv("/content/deliveries[1].csv")
match = pd.read_csv("/content/matches (1).csv")

In [ ]:
delivery=pd.read_csv("/content/deliveries[1].csv")
matches = pd.read_csv("/content/matches (1).csv")

In [ ]:
print(delivery.shape)
print(matches.shape)

(51631, 21)
(756, 18)

## **Data Overview**

In [ ]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [ ]:
match["city"].value_counts()

Mumbai            18
Durban            14
Hyderabad         13
Bangalore         13
Kolkata           12
Delhi             11
Chandigarh        11
Centurion         11
Johannesburg       8
Port Elizabeth     7
Jaipur             7
Chennai            7
Cape Town          6
Rajkot             4
East London        3
Kimberley          3
Kanpur             2
Indore             2
Bloemfontein       2
Name: city, dtype: int64

In [ ]:
deli

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41299,176,1,Mumbai Indians,Rajasthan Royals,14,4,AT Rayudu,SS Tiwary,YK Pathan,0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN
41300,176,1,Mumbai Indians,Rajasthan Royals,14,5,SS Tiwary,AT Rayudu,YK Pathan,0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN
41301,176,1,Mumbai Indians,Rajasthan Royals,14,6,AT Rayudu,SS Tiwary,YK Pathan,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
41302,176,1,Mumbai Indians,Rajasthan Royals,15,1,SS Tiwary,AT Rayudu,AA Jhunjhunwala,0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
41303,176,1,Mumbai Indians,Rajasthan Royals,15,2,SS Tiwary,AT Rayudu,AA Jhunjhunwala,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
total_score_df=deli.groupby(["match_id","inning"]).sum()["total_runs"].reset_index()

<ipython-input-8-03ac781d81a3>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df=deli.groupby(["match_id","inning"]).sum()["total_runs"].reset_index()

In [ ]:
total_score_df=total_score_df[total_score_df["inning"]==1]

In [ ]:
total_score_df.sample(1)

    match_id  inning  total_runs
50        26       1       188.0

In [ ]:
total_score_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176 entries, 0 to 354
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   match_id    176 non-null    int64
 1   inning      176 non-null    int64
 2   total_runs  176 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 5.5 KB

In [ ]:
total_score_df["total_runs"] += 1

In [ ]:
total_score_df["total_runs"]

0      208.0
2      185.0
4      184.0
6      164.0
8      158.0
       ...
346    154.0
348    147.0
350    144.0
352    162.0
354    145.0
Name: total_runs, Length: 176, dtype: float64

In [ ]:
match=match.merge(total_score_df[["match_id","total_runs"]],left_on='id',right_on='match_id')

In [ ]:
match["team1"].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers'],
      dtype=object)

In [ ]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208.0
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,185.0
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,184.0
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,164.0
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,158.0

# **Data filtering**

In [ ]:
teams=[
    "Chennai Super Kings",
    "Dehli Capitals",
    "Gujarat Lions",
    "Kolkata Knight Riders",
    "Mumbai Indians",
    "Kings XI Punjab",
    "Rajasthan Royals",
    "Royal Challengers Bangalore",
    "Sunrisers Hyderabad"
]

In [ ]:
match["team1"]=match["team1"].str.replace('Delhi Daredevils','Dehli Capitals')
match["team2"]=match["team2"].str.replace('Delhi Daredevils','Dehli Capitals')

match["team1"]=match["team1"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match["team2"]=match["team2"].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [ ]:
match.head(2)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208.0
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,185.0

In [ ]:
match=match[match["team1"].isin(teams)]
match=match[match["team2"].isin(teams)]

In [ ]:
match['dl_applied'].value_counts()

0    154
1      6
Name: dl_applied, dtype: int64

In [ ]:
match=match[match["dl_applied"]==0]

In [ ]:
match_df=match[["match_id","city","winner","total_runs"]]

In [ ]:
match_df.head(2)

   match_id       city                 winner  total_runs
0         1  Hyderabad    Sunrisers Hyderabad       208.0
2         3     Rajkot  Kolkata Knight Riders       184.0

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
deli_df=match_df.merge(deli,on="match_id")

In [ ]:
deli_df=deli_df[deli_df["inning"]==2]

we are calculate the what is the run after bals and it's ball ball record

In [ ]:
deli_df["current_score"]=deli_df.groupby('match_id').cumsum()["total_runs_y"]

<ipython-input-28-260c7ec7b593>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  deli_df["current_score"]=deli_df.groupby('match_id').cumsum()["total_runs_y"]

In [ ]:
deli_df["runs_left"]=deli_df["total_runs_x"]-deli_df["current_score"]

In [ ]:
deli_df["batting_team"].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Daredevils', 'Sunrisers Hyderabad', 'Mumbai Indians',
       'Kings XI Punjab', 'Gujarat Lions', 'Rajasthan Royals',
       'Chennai Super Kings', 'Deccan Chargers'], dtype=object)

In [ ]:
deli_df["batting_team"]=deli_df["batting_team"].str.replace('Delhi Daredevils','Dehli Capitals')
deli_df["bowling_team"]=deli_df["bowling_team"].str.replace('Delhi Daredevils','Dehli Capitals')

deli_df["batting_team"]=deli_df["batting_team"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
deli_df["bowling_team"]=deli_df["bowling_team"].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [ ]:
deli_df["bowling_team"].unique()

array(['Sunrisers Hyderabad', 'Gujarat Lions',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Dehli Capitals', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [ ]:
deli_df["batting_team"].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Dehli Capitals', 'Sunrisers Hyderabad', 'Mumbai Indians',
       'Kings XI Punjab', 'Gujarat Lions', 'Rajasthan Royals',
       'Chennai Super Kings'], dtype=object)

In [ ]:
match["team1"].unique()

array(['Sunrisers Hyderabad', 'Gujarat Lions',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Dehli Capitals', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [ ]:
deli_df['balls_left']=126-(deli_df["over"]*6+deli_df['ball'])

In [ ]:
deli_df['player_dismissed'] = deli_df['player_dismissed'].fillna("0")
deli_df['player_dismissed'] = deli_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")
deli_df['player_dismissed'] = deli_df['player_dismissed'].astype('int')
wickets = deli_df.groupby('match_id').cumsum()['player_dismissed'].values
deli_df['wickets'] = 10 - wickets
deli_df.head()

<ipython-input-36-12dcf6caea44>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets = deli_df.groupby('match_id').cumsum()['player_dismissed'].values

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
125,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,1.0,207.0,119,10
126,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,1.0,207.0,118,10
127,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,1.0,207.0,117,10
128,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0,NaN,NaN,3.0,205.0,116,10
129,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0,NaN,NaN,7.0,201.0,115,10

In [ ]:
deli_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
36408,175,Mumbai,Kolkata Knight Riders,162.0,2,Sunrisers Hyderabad,Kolkata Knight Riders,20,3,TL Suman,Jaskaran Singh,I Sharma,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,146.0,16.0,3,3
36409,175,Mumbai,Kolkata Knight Riders,162.0,2,Sunrisers Hyderabad,Kolkata Knight Riders,20,4,TL Suman,Jaskaran Singh,I Sharma,0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,147.0,15.0,2,3
36410,175,Mumbai,Kolkata Knight Riders,162.0,2,Sunrisers Hyderabad,Kolkata Knight Riders,20,5,Jaskaran Singh,TL Suman,I Sharma,0,0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0,NaN,NaN,149.0,13.0,1,3
36411,175,Mumbai,Kolkata Knight Riders,162.0,2,Sunrisers Hyderabad,Kolkata Knight Riders,20,6,Jaskaran Singh,TL Suman,I Sharma,0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,150.0,12.0,0,3
36412,175,Mumbai,Kolkata Knight Riders,162.0,2,Sunrisers Hyderabad,Kolkata Knight Riders,20,7,TL Suman,Jaskaran Singh,I Sharma,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,150.0,12.0,-1,3

In [ ]:
# crr = runs/overs
deli_df['crr'] = (deli_df['current_score']*6)/(120 - deli_df['balls_left'])

In [ ]:
# rrr
deli_df['rrr'] = (deli_df['runs_left']*6)/deli_df['balls_left']

In [ ]:
def result(row):
  return 1 if row["batting_team"] == row["winner"] else 0

In [ ]:
deli_df["result"]=deli_df.apply(result,axis=1)

In [ ]:
deli_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr,result
125,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,NaN,NaN,1.0,207.0,119,10,6.0,10.436975,0
126,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,1.0,207.0,118,10,3.0,10.525424,0
127,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,NaN,NaN,1.0,207.0,117,10,2.0,10.615385,0
128,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0,NaN,NaN,3.0,205.0,116,10,4.5,10.603448,0
129,1,Hyderabad,Sunrisers Hyderabad,208.0,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0,NaN,NaN,7.0,201.0,115,10,8.4,10.486957,0

In [ ]:
final_df=deli_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr','result']]

In [ ]:
final_df=final_df.sample(final_df.shape[0])

In [ ]:
final_df.sample(1)

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
34153,Kolkata Knight Riders,Chennai Super Kings,Centurion,118.0,69,9,189.0,8.352941,10.26087,1

In [ ]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs_left       0
balls_left      0
wickets         0
total_runs_x    0
crr             0
rrr             2
result          0
dtype: int64

In [ ]:
final_df.dropna(inplace=True)

In [ ]:
final_df = final_df[final_df['balls_left'] != 0]

In [ ]:
final_df.head(2)

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
19435,Royal Challengers Bangalore,Rajasthan Royals,Jaipur,76.0,3,1,198.0,6.256410,152.000000,0
25097,Mumbai Indians,Sunrisers Hyderabad,Durban,159.0,102,9,169.0,3.333333,9.352941,0

In [ ]:
x=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
],remainder='passthrough')

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [ ]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [ ]:
pipe.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [ ]:
y_pred = pipe.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9093776885574992

In [ ]:
teams

['Chennai Super Kings',
 'Dehli Capitals',
 'Gujarat Lions',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Kings XI Punjab',
 'Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [ ]:
deli_df["city"].unique()

array(['Hyderabad', 'Rajkot', 'Bangalore', 'Mumbai', 'Indore', 'Kolkata',
       'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai', 'Cape Town',
       'Port Elizabeth', 'Durban', 'Centurion', 'East London',
       'Johannesburg', 'Kimberley', 'Bloemfontein'], dtype=object)

In [ ]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))